body {
    background-color: #ffffff;
    font-family: 'Trebuchet MS', sans-serif;
    color: #000000;
}

.timer-count {
    padding: 10px;
    color: #ff00ff;
}

nav {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #ff00ff;
}

.container {
    display: flex;
    flex-flow: column wrap;
    padding: 50px 50px 0px 50px;
}

h1 {
    padding: 10px;
    text-align: center;
    font-size: 200%;
}

p {
    padding: 10px 40px;
}

button {
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #1b013f;
    color: white;
}

button:hover {
    background-color: #ff00ff;
    box-shadow: 0px 20px 50px 0px #1f0129;
}